/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Feb-2019, 14:44:23
    Author     : Kaede & Jake
*/


body{
    margin:0
    auto;
}
.myButtons{
    color: white;
    background: #757575;
    border-color: black;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
}

.myButtons:hover:enabled{
    background: #a4a4a4;
}

.topnav {
    background-color: #494949;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #494949;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content p{
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer{
     background-color: #494949;
     color: white;
     font-family: Arial;
     border-color: black;
     border-width: 1px;
     padding-top: 5px;
     padding-bottom: 5px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

.borderTable{   
    border: black solid medium;
}

.banner{
    border: #494949 solid medium;
}

.tableRow{
    text-align:right;
    vertical-align: top;
}

.loginPanel{
    align-content: center;
    position: relative;
    background-color: #494949;
    border: black solid medium;
    color:white;
    width:12%;
    padding: 25px 25px 25px 25px;
    top:25%;    
}


.displayContainer{
    position: relative;
    top: 15%;
    padding: 25px 25px 25px 25px;
}

.displayTable{   
    background-color: #494949;
    color:white;    
    border: black solid medium;
    font-family: arial;
    font-size: 16px;
    padding: 25px 25px 25px 25px;
}

.registerForm {
    box-sizing: border-box;
    width:400px;
    height:600px;
    outline:2px dashed black;
    background-color: white;
    font-family: Arial;
}

h3{
    font-family: arial;
}

