/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Feb-2019, 14:44:23
    Author     : Kaede & Jake
*/
body{
    margin:0
    auto;
}
.myButtons{
    color: white;
    background: #757575;
    border-color: black;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
}

.myButtons:hover:enabled{
    background: #a4a4a4;
}

.topnav {
    background-color: #494949;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

.borderTable{   
    border: black solid medium;
}


.tableRow{
    text-align:right;
    vertical-align: top;
}

.registerForm {
    box-sizing: border-box;
    width:400px;
    height:600px;
    outline:2px dashed black;
}

h3{
    font-family: arial;
}
